/*
Add styles unrelated to Bootstrap here. Customizing Bootstrap?
Make your changes to the Sass file.
*/

#map {
	position: relative;
}

#restaurant-map {
	height: calc(100vh - 4rem);
}

.leaflet-popup-content {
	min-width: 320px;
}

/* Remove focus outline on map clicks */
#restaurant-map:focus,
#restaurant-map:focus-visible,
#restaurant-map .leaflet-interactive:focus {
	outline: none;
}

.map-text-container {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 1000;
	background-color: rgb(248, 249, 250);
	padding: 2rem;
	border-radius: 0.25rem;
	max-width: 390px;
	opacity: 0.9;
}

.tooltip-container {
	display: block;
}

.tooltip-container .tooltip-title,
.popup-container .popup-title {
	font-weight: bold;
	margin-bottom: 0.375rem;
	text-transform: capitalize;
}

.tooltip-container span,
.popup-container span {
	display: block;
}

.tooltip-container span:not(:last-child),
.popup-container span:not(:last-child) {
	margin-bottom: 0.25rem;
}

.popup-container {
	display: block;
	min-width: 300px;
}

.popup-title.permits {
	padding-bottom: 2rem;
}

.chart-labels {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 4px;
	gap: 4px;
}

.chart-container {
	display: flex;
	gap: 8px;
	align-items: flex-start;
	margin-left: -16px;
}

.y-axis-label {
	display: flex;
	align-items: center;
	justify-content: center;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	font-size: 12px;
	font-weight: bold;
	min-height: 200px;
}

.chart-wrapper {
	display: flex;
	flex-direction: column;
}

.chart {
	display: flex;
	height: 200px;
	gap: 4px;
	align-items: flex-end;
	border-left: 2px solid #333;
	border-bottom: 2px solid #333;
}

.bar-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	gap: 4px;
}

.bar-label {
	font-size: 12px;
	white-space: nowrap;
}

.bar {
	flex: 0 0 auto;
	background-color: #6d597a;
	color: white;
	text-align: center;
	font-size: 12px;
	transition: height 0.3s;
	width: 25px;
	opacity: 0.7;
}

.x-axis-labels {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	margin-left: 2px;
	margin-top: 4px;
}

.x-axis-label {
	font-size: 11px;
	white-space: nowrap;
	flex: 0 0 auto;
	width: 20px;
	text-align: center;
	font-weight: bold;
}
